/* table {
    width: 800px;
}

th {
    width: 100px;
    height: 100px;
    background-color: rgb(214, 0, 0);
    color: rgb(255, 255, 255);
    border: 3px solid rgb(245, 243, 243); 
}

tr {
    width: 10%;
    border: 1px solid rgb(255, 255, 255); 
} */

h1{
    background-color: blueviolet;
    margin-top: 50%;
    margin-left: 50%;
    width: 100px;
    height: 100px;
}


